@(grades: List[model.grades.Grade])(implicit request: Request[_], flash: Flash, messages: Messages)
@main("Semester Examination System") {
    <div class="row" id="form-and-checkbox">
        <div class="col-sm-1"></div>

        <div id="dropdownChooseYear" class="col-sm-2 col-sm-push-3">
            <small>Year: </small><br>
            <select class="form-control advance-search-dropdown modifymobile" id="form-choose-year-list-subject"><option value="2">2016-2017</option><option value="1">2017-2018</option></select>
        </div>

        <div class="col-sm-1"></div>

        <div id="dropdownChooseTerm" class="col-sm-2 col-sm-push-3">
            <small>Semester: </small><br>
            <select class="form-control advance-search-dropdown modifymobile" id="form-choose-term-list-subject">
                <option value="1">Học kỳ 1</option>
                <option value="2">Học kỳ 2</option>
            </select>
        </div>

        <div class="col-sm-1"></div>

        <div id="dropdownChooseType" class="col-sm-2 col-sm-push-3">

        </div>

        <div class="col-sm-3 col-sm-pull-9" id="searh-advance-box">
            <small>Filter list: </small><br>
            <input maxlength="40" id="inputFilterListSubject" type="text" class="form-control modifymobile" placeholder="Code or name subject">
        </div>

        <div class="col-sm-1"></div>
    </div>

    @*table*@
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered text-nowrap" id="example">
                <thead>
                    <tr>
                        <th>Subject code</th>
                        <th>Name</th>
                        <th>Grade</th>
                        <th>Upload at</th>
                    </tr>
                </thead>
                <tbody>
                    @for(grade <- grades) {
                        <tr>
                            <td>@grade.id</td>
                            <td>@grade.nameSubject</td>
                            <td><a href="@routes.Assets.versioned(grade.file)" target="_blank" rel="noopener noreferrer">Click here</a></td>
                            <td>@grade.upload_at</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}