@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)(implicit flash: Flash)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        @*<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">*@
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/MyCss.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>

    </head>
    <body >
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand text-light" href="#"><h2>Account Managament</h2></a>
                </div>
                <div class="collapse navbar-collapse text-center justify-content-end" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="text-light" href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="py-5 text-center parallax cover gradient-overlay" style="background-image: url(&quot;https://cache.desktopnexus.com/wallpapers/2402/2402936-5184x3456-adventure-balloon-dusk-33228.jpg&quot;); position: relative; background-position: 50% calc(50% + 0px); background-size: cover;">
            <div class="container">
                @content
            </div>
        </div>
    </body>
</html>
