<h2 class=> Edit Account</h2>
<form class="" action="./#">
    <div class="form-row">
        <div class="col-md-2 my-3">
            <label>Staff code: </label>
            <input type="text" class="form-control" placeholder="Code" > </div>
        <div class="col-md-6 my-3">
            <label>Email address: </label>
            <input type="email" class="form-control" placeholder="Email"> </div>
        <div class="col-md-4 my-3">
            <label>Entry Company Date: </label>
            <input type="date" class="form-control disable-scroll"> </div>
    </div>
    <div class="form-row">
        <div class="col-md-2 my-3">
            <label>Role: </label>
            <br>
            <input type="radio" value="ADMIN" name="role"> Admin
            <br>
            <input type="radio" value="STAFF" name="role" checked> Staff </div>
        <div class="col-md-3 my-3">
            <label>Department: </label>
            <br>
            <select name="department" class="btn dropdown-toggle btn-light disable-scroll">
                <option value="Back Office">Back Office</option>
                <option value="Sacdev">Sacdev</option>
                <option value="Mocua">Mocua</option>
                <option value="Procog">Procog</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="col-md-3 my-3">
            <label>Annual leave: </label>
            <input type="text" class="form-control" value="12"> </div>

    </div>
    <div class="col-md-12 my-3">
        <button type="submit" class="btn cancelbtn" style="background-color:green">Create</button>
        <button type="button" onclick="document.getElementById('edit_user').style.display='none'" class="btn cancelbtn">Cancel</button>
    </div>
</form>