
@(users: List[model.User])(implicit request: Request[_], flash: Flash)
@main("Septeni Timesheet Managament") {
    <div class="row">
        <div class="col-md-4 my-1">
            <h2>Account Mangament</h2>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <a href="/users/add" class="btn bg-gradient2 m-2">Create account</a>
        </div>
        <div class="col-md-3 table-sort-search-container">
            <input class="form-control m-2" id="myInputTextField" type="search" placeholder="Search" aria-controls="example"> </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered" id="example">
                <thead>
                    <tr>
                        <th class="table-sort">Staff code</th>
                        <th class="table-sort">Email</th>
                        <th class="table-sort">Department</th>
                        <th class="table-sort">Annual Leave</th>
                        <th class="table-sort">Entry Company Date</th>
                        <th class="table-sort">Role</th>
                        <th class="table-sort">Status</th>
                        <th class="table-sort">Last modified</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @for(user <- users) {
                    <tr>
                        <td>@user.userId.value</td>
                        <td>@user.email</td>
                        <td>@user.department.name</td>
                        <td>@user.annualLeave</td>
                        <td>@user.entryCompanyDate.substring(0,10)</td>
                        <td>@user.userRole</td>
                        <td>@user.userStatus</td>
                        <td>@user.lastModified</td>
                        <td>
                            <a href="/users/edit">Edit</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <ul class="pagination">
                <li class="page-item">
                    <a class="btn btn-outline-secondary" href="#">
                        <span>«</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="btn btn-outline-secondary" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="btn btn-outline-secondary" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="btn btn-outline-secondary" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="btn btn-outline-secondary" href="#">4</a>
                </li>
                <li class="page-item">
                    <a class="btn btn-outline-secondary" href="#">
                        <span>»</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                <li class="page-item">
                    <select name="department" class="btn dropdown-toggle btn-light mx-1">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                    </select>
                </li>
            </ul>
        </div>

    </div>
    <script type="text/javascript">
            var table = $('#example').DataTable({
                paging: true,
                bFilter: true,
                ordering: true,
                searching: true,
                dom: 't'         // This shows just the table
            });
            // #myInput is a <input type="text"> element
            $('#myInputTextField').on( 'keyup', function () {
                table.search( this.value ).draw();
            } );

    </script>

}