
@(users: List[model.User])(implicit request: Request[_], flash: Flash)
@main("Septeni Timesheet Managament") {
    <div class="row">
        <div class="col-md-4 my-1">
            <h2>Account Mangament</h2>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <button onclick="document.getElementById('createuser').style.display='block'" class="btn bg-gradient2 m-2">Create account</button>
        </div>
        <div class="col-md-3">
            <input class="form-control m-2" type="search" placeholder="Search"> </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-sort table-sort-search">
                <thead>
                    <tr>
                        <th class="table-sort">Staff code</th>
                        <th class="table-sort">Email</th>
                        <th class="table-sort">Department</th>
                        <th class="table-sort">Annual Leave</th>
                        <th class="table-sort">Entry Company Date</th>
                        <th class="table-sort">Role</th>
                        <th class="table-sort">Status</th>
                        <th class="table-sort">Last modified</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @for(user <- users) {
                    <tr>
                        <td>@user.userId.value</td>
                        <td>@user.email</td>
                        <td>@user.department.name</td>
                        <td>@user.annualLeave</td>
                        <td>@user.entryCompanyDate.substring(0,10)</td>
                        <td>@user.userRole</td>
                        <td>@user.userStatus</td>
                        <td>@user.lastModified</td>
                        <td>
                            <a href="/users/edit">Edit</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <ul class="pagination">
                <li class="page-item">
                    <a class="btn btn-outline-secondary" href="#">
                        <span>«</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="btn btn-outline-secondary" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="btn btn-outline-secondary" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="btn btn-outline-secondary" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="btn btn-outline-secondary" href="#">4</a>
                </li>
                <li class="page-item">
                    <a class="btn btn-outline-secondary" href="#">
                        <span>»</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                <li class="page-item">
                    <select name="department" class="btn dropdown-toggle btn-light mx-1">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                    </select>
                </li>
            </ul>
        </div>

    </div>
    @*Creat user form*@
    <div class="modal" id="createuser">
        @*<div class="row container">*@
            @*<div class="col-md-3"></div>*@
            @*<div class="col-md-6 border">*@
                @*<h2> Create Account</h2>*@
            @*</div>*@
            @*<div class="col-md-3"></div>*@
        @*</div>*@
        <div class="row">
            @*<div class="col-md-3"></div>*@
            <div class="col-md-6 border modal-content animate">
                <h2 class=> Create Account</h2>
                <form class="">
                    <div class="form-row">
                        <div class="col-md-2 my-3">
                            <label>Staff code: </label>
                            <input type="text" class="form-control" placeholder="Code" > </div>
                        <div class="col-md-6 my-3">
                            <label>Email address: </label>
                            <input type="email" class="form-control" placeholder="Email"> </div>
                        <div class="col-md-4 my-3">
                            <label>Entry Company Date: </label>
                            <input type="date" class="form-control"> </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-2 my-3">
                            <label>Role: </label>
                            <br>
                            <input type="radio" value="ADMIN" name="role"> Admin
                            <br>
                            <input type="radio" value="STAFF" name="role" checked> Staff </div>
                        <div class="col-md-3 my-3">
                            <label>Department: </label>
                            <br>
                            <select name="department" class="btn dropdown-toggle btn-light">
                                <option value="Back Office">Back Office</option>
                                <option value="Sacdev">Sacdev</option>
                                <option value="Mocua">Mocua</option>
                                <option value="Procog">Procog</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="col-md-3 my-3">
                            <label>Annual leave: </label>
                            <input type="text" class="form-control" value="12"> </div>

                    </div>
                    <div class="col-md-12 my-3">
                        <button type="submit" class="btn cancelbtn" style="background-color:green">Create</button>
                        <button type="button" onclick="document.getElementById('createuser').style.display='none'" class="btn cancelbtn">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}