@(subjects: List[model.grades.Subject],semesters: List[model.grades.Semester], years: List[model.grades.Year] ,gradeForm: Form[forms.GradeForm])(implicit request: Request[_], flash: Flash, messages: Messages)
@import helper._

@adminView {
    <div class="row">
        <div class="col-md-12 border">
            <h2> Create Account</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 border">
            @helper.form(action = grade.routes.GradeController.upload, 'enctype -> "multipart/form-data", '_id -> "signin_form") {
            @CSRF.formField
            @if(gradeForm.hasGlobalErrors) {
                <span class="error" style="color: red">@{
                    gradeForm.globalError.get.message
                }</span>
            }
            <div class="form-row">
                <div class="col-md-4 my-3">
                @helper.select(gradeForm("code_sub"), options = subjects.map(subject => subject.code -> (subject.name +" - "+ subject.code)), 'class -> "form-control advance-search-dropdown modifymobile", '_showConstraints -> false, '_label -> "Subject:" )
                </div>
                <div class="col-md-4 my-3">
                @helper.select(gradeForm("semester"), options = semesters.map(semest => semest.id.toString -> semest.semester), 'class -> "form-control advance-search-dropdown modifymobile", '_showConstraints -> false, '_label -> "Semester:" )
                </div>
                <div class="col-md-4 my-3">
                @helper.select(gradeForm("year"), options = years.map(y => y.id.toString -> y.year), 'class -> "form-control advance-search-dropdown modifymobile", '_showConstraints -> false, '_label -> "Year:" )
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 my-3">
                    <input type="file" name="file" required>
                    <p> <input type="submit"> </p>
                </div>
        }
        </div>
    </div>
    </div>
}